footer{
    color: var(--white);
    background-color: var(--darkGrey);
    min-height: 120px;
    padding: 20px;
}

.blockPage{
    max-width: 1200px;
    margin: auto;
}

footer .siteName{
    font-size: 20px;
}

footer ul{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer li{
    width: 200px;
}

footer i{
    margin-right: 10px;
}