footer{
    color: var(--white);
    background-color: var(--darkGrey);
    min-height: 120px;
    height: 100%;
    padding: 20px;
}


footer .siteName{
    font-size: 20px;
}

footer ul{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer li{
    width: 200px;
}

footer i{
    margin-right: 10px;
}