/* .loader{
    width: 100px;
    height: 100px;
    border-top: 10px solid purple;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 0px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear ;
    margin: auto;
} */

@keyframes checkspin{




    100% {
        transform :rotate(0deg)
        }
    0% {
        transform :rotate(-90deg)
    }

    }

.checkbox{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: red 2px solid;
    color: rgb(47, 0, 255);
    animation: checkspin 0.8s linear ;
}

     i{
        
       
        
    }