
.fonctionnementSection{
    width: 100%;
    padding: 30px
}

.fonctionnementList{
    width: 100%;
    flex-direction: column;

}

.fonctionnementList li{
    width: 100%;
}



.cardBlock{
   width: 100%;
}



footer ul{
    display: flex;
    flex-direction: column;

}